{% extends "base.html" %}
{% load static %}
{% block page_title %}
    Chose your choice of offering data
{% endblock %}

{% block other_css_link %}
    <link rel="stylesheet" href="{%  static "recommendationapp/wikipedia.css" %}">
{%endblock%}

{% block nav_section %}
    {% include "nav.html"%}
{% endblock %}


{% block page_content %}
    <div class = "history-div">
      <h3> Dhaka Metro Rail</h3>
       <p><b>Dhaka Metro Rail</b> (Bengali: ঢাকা মেট্রো রেল), colloquially known as the <b>Dhaka Metro</b> (Bengali: ঢাকা মেট্রো) is an approved mass rapid transit system under construction in Dhaka, the capital and the busiest city of Bangladesh. Together with a separate light rapid transit (LRT) system, it has been long called for to ease the extreme traffic jams and congestion that occur throughout the entire city daily, one of the heaviest in the world. It is a part of the 20-year long Strategic Transport Plan (STP) outlined by the Dhaka Transport Coordination Authority (DTCA), a governmental agency.[6] As of 2022, the metro rail system consists of one line referred to as the MRT (Mass Rapid Transit) Line-6, with other metro rail lines set to be added in the future.</p>
        <h4>History</h4>
        <p>In an effort to implement Dhaka's 20-year long Strategic Transport Plan (STP), the Bangladeshi government invited the Japan International Cooperation Agency (JICA) to conduct a primary survey and feasibility study on the transport system of Dhaka in 2009–2010. In 2012, the Government's Executive Committee of National Economic Council (ECNEC) approved the project. A loan agreement between the Bangladeshi government and JICA was signed in January 2013. Dhaka Mass Transit Company Ltd. (DMTC), the agency responsible for the implementation of the first metro line (MRT Line-6) was formed in January 2013. The General Consultant (GC), namely the NKDM Association, commenced work beginning in February 2014. In June 2013, Dhaka Mass Transit Company Limited (DMTC) was established by the Government to implement the Metro Rail Lines across the city.</p>
        <p><b>Construction</b>The deal for construction of the MRT Line-6, costing US$2.8 billion, was signed by the Government of Bangladesh with the Japan International Cooperation Agency on 20 February 2013.[8] Construction began on 26 June 2016 with an inauguration ceremony presided over by the reigning prime minister Sheikh Hasina.[9] The civil work has been done by the Italian-Thai Development Public Company Ltd. and China's Sinohydro Corporation Ltd. JV and a Tokyo-based construction company developed the depot's land.</p>
        <p><b>Cost and length changes</b><br>Originally, the project cost was Tk 21,985 crore but it was later increased by Tk 11,487 to Tk 33,472 crore. The first route, originally projected to start from Uttara, a northern suburb of Dhaka, to Sayedabad, in the south of the capital,[19] was eventually extended north to Uttara and truncated south to Motijheel.[20] The original length which was 20.10 km (12.49 mi) has been increased by 1.16 to 21.26 km (13.21 mi). It was planned to have 16 stations originally but it has been increased to 17 stations.</p>
        </div>
        <div class="image">
          
        </div>

    
        
        
    </div>
{% endblock %}